{{ header }}
<div id="common-maintenance" class="container">
  <div class="row">
    <div class="col-12">{{ message }}</div>
    <small style="text-align:center;">Accesso Negato: "Access Denied" in Italian   </small>
  </div>
</div>
{{ footer }}